:root {
  --color-bluelight: #4263eb;
  --color-blue: #364fc7;
  --color-black: #0a0c0d;
  --color-grey1: #212529;
  --color-grey2: #495057;
  --color-grey3: #868e96;
  --color-grey4: #dee2e6;
  --color-greytransparent: #495057dc;
  --color-white: #ffffff;
  --color-whitebackground: #e9e9e9;
  --color-modalbackground: #1b1b1bd7;

  --font-base: "Inter", sans-serif;
}

.hidden {
  display: none;
}
